 /*part1: navigation bar*/
 .navigation_bar {
    display: flex;
    align-items: center;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    gap: 50px;
}

.searchbar{
    width: 100%;
    display: inline-flex;
    max-width: 300px;
}

.searchbar_input{
    padding: 10px;
    outline: none;
    border: 1px solid rgb(4, 147, 101);
    border-radius: 8px 0 0 8px;
    background: #f4faf9;
    transition: background 0.2s, box-shadow 0.2s;
    font-family: 'Poppins', sans-serif;
}

.searchbar_input:focus{
    background: white;
    box-shadow: 0 0 2px #8cc6ba;
}

.searchbar_input::placeholder{
    color: #84a79f;
}

.searchbar_button{
    width: 40px;
    background: rgb(4, 147, 101);
    color: white;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    user-select: none;
}

.searchbar_button:active{
    box-shadow: 0 0 30px rgba(0, 0 , 0, 0.25);
}


.container1{
    position: relative;
}

.container1 a{
    text-decoration: none;
    color: rgb(113, 107, 107);
}
nav {   
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

.nav_bar{
    display: inline-block;
    margin: 15px;
    padding:0 10px 0;
}

.nav_bar:hover{
    background-color: #ea9a9a;
    color: #f4f2a0;
    border-radius: 20px;
}

.container1 {
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    background: antiquewhite;
}


.submitted{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    flex-direction: column;
}

.box{
    width: 100%;
    background: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

button {
    width: 30%;
    padding: 15px;
    border-radius: 12px;
    font-size: 18px;
    background: white;  
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif
}